{% extends 'FrontOffice/base.html.twig' %}
{% block title %}Contact{% endblock %}


{% block body %}

    {% block head %}
        {% include 'FrontOffice/header.html.twig' %}
    {% endblock %}
    <section id="contact" class="contact section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Repondre</h2>
            </div>

            <div class="section-bg">

                <div class="col-lg-6" >
{{ form_start(form, {'attr': {'class': 'php-email-form'}}) }}
<div class="row">
    <div class="col-md-6 form-group">
        {{ form_row(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Votre nom', }}) }}
    </div>
    <div class="col-md-6 form-group">
        {{ form_row(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Votre prenom', }}) }}
    </div>
</div>
<div class="form-group mt-3">
    {{ form_row(form.contenu, {'attr': {'class': 'form-control', 'placeholder': 'Contenu',}}) }}
</div>

<div class="text-center">
    {{ form_row(form.envoyer, {'label': 'Envoyer', 'attr': {'class': 'btn btn-primary'}}) }}
</div>

{{ form_end(form) }}
    </div>

    </div>
    </section><!-- End Contact Section -->

    {% block footer %}
        {% include 'FrontOffice/footer.html.twig' %}
    {% endblock %}
{% endblock %}